<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nura.cumdyapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.nura.cumdyapp.Activity.Fireapp"
        android:allowBackup="true"
        android:icon="@drawable/design"
        android:label="@string/app_name"
        android:roundIcon="@drawable/design"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:windowSoftInputMode="stateHidden|stateUnchanged"
       >
        <activity android:name="com.nura.cumdyapp.Activity.Main"
            android:screenOrientation="portrait"

            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation" />
        <activity
            android:name="com.nura.cumdyapp.Activity.VotingSingleActivity"
            android:theme="@style/AppTheme.NoActionBar_StatusBar"
            android:screenOrientation="portrait"
            />
        <activity
            android:name="com.nura.cumdyapp.Activity.PhotoView_Activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar_StatusBar"
            />
        <activity
            android:name="com.nura.cumdyapp.Activity.VotingResultActivity"
            android:theme="@style/AppTheme.NoActionBar_StatusBar"
            android:screenOrientation="portrait" />
        <activity android:name="com.nura.cumdyapp.Activity.About_Activity"
            android:theme="@style/AppTheme.NoActionBar_StatusBar"
            >

        </activity>
    </application>

</manifest>